In [1]:
# Loading libraries
import pandas as pd
from matplotlib.pyplot import plot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import AdaBoostRegressor
import numpy as np
import seaborn as sn
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error as mse
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [ ]:
# Loading data
loan = pd.read_excel('Documents/Course Project 4th year/Credit Data/Credit Excel.xlsx')
loan

In [5]:
#Analysis of the data
# Descriptive analysis
# The shape of the data
loan.shape

(1000, 21)

In [6]:
# Data structure in the loan data
loan.dtypes

checking_balance        object
months_loan_duration     int64
credit_history          object
purpose                 object
amount                   int64
savings_balance         object
employment_length       object
installment_rate         int64
personal_status         object
other_debtors           object
residence_history        int64
property                object
age                      int64
installment_plan        object
housing                 object
existing_credits         int64
default                  int64
dependents               int64
telephone               object
foreign_worker          object
job                     object
dtype: object

In [7]:
# checking of the missing values
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
checking_balance        1000 non-null object
months_loan_duration    1000 non-null int64
credit_history          1000 non-null object
purpose                 1000 non-null object
amount                  1000 non-null int64
savings_balance         1000 non-null object
employment_length       1000 non-null object
installment_rate        1000 non-null int64
personal_status         1000 non-null object
other_debtors           1000 non-null object
residence_history       1000 non-null int64
property                1000 non-null object
age                     1000 non-null int64
installment_plan        1000 non-null object
housing                 1000 non-null object
existing_credits        1000 non-null int64
default                 1000 non-null int64
dependents              1000 non-null int64
telephone               1000 non-null object
foreign_worker          1000 non-null object
job                     1000 non-null object
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

count        1000
unique          4
top       unknown
freq          394
Name: checking_balance, dtype: object

In [10]:
loan.describe()

,checking_balance,months_loan_duration,amount,installment_rate,residence_history,age,existing_credits,default,dependents
count,0.0,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,NaN,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.300000,1.155000
std,NaN,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.458487,0.362086
min,NaN,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000,1.000000
25%,NaN,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000,1.000000
50%,NaN,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000,1.000000
75%,NaN,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,2.000000,1.000000
max,NaN,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000,2.000000